
  <form [formGroup]="checkoutForm" novalidate (ngSubmit)="onSave(checkoutForm)">
    <div class="form-group">
      <label class="center-block">Name:
        <input class="form-control" formControlName="name">
      </label>
      <label class="center-block">Card Type:
        <div class="form-group">
          <select class="form-control" id="exampleSelect1" formControlName="cards" >
            <option  *ngFor = "let card of addedCards">{{card.cardName}}</option>
          </select>
        </div>
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


  <form [formGroup]="cardForm" novalidate (ngSubmit)="onCardSave(cardForm)">
    <label class="center-block">Card Name:
      <input class="form-control" formControlName="cardName">
    </label>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div *ngFor = "let cardss of addedCards">{{cardss.cardName}}</div>
  